@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    color: white;
    border: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, black, black, #300091);
    font-size: 1.2em;
}

.palindrome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.check-if-palindrome,
.input-word {
    font-size: 1.4em;
    padding: 0 20px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 0 5px #300091, 0 0 12px #300091;
    transition: 0.3s ease;
}

.dom-text {
    text-shadow: 0 0 3px #300091, 0 0 9px #300091, 0 0 16px #300091, 0 0 24px #300091;
}

.text {
    width: 80%;
    text-align: center;
}

.wave {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    z-index: -1;
}

.check-if-palindrome:hover {
    transform: scale(1.2);
    cursor: pointer;
    text-shadow: 0 0 3px white, 0 0 9px white;
    background: #1f0058;
}

.input-word:focus {
    outline: none;
    font-size: 1.7em;
}